services:
  postgres:
    image: 'postgres:17'
    environment:
      - 'POSTGRES_DB=cloud_disk'
      - 'POSTGRES_PASSWORD=cloud_disk'
      - 'POSTGRES_USER=cloud_disk'
    ports:
      - '5432'
  redis:
    image: 'redis:latest'
    ports:
      - '6379'
  minio:
    image: 'minio/minio:latest'
    environment:
      - 'MINIO_ROOT_USER=minioadmin'
      - 'MINIO_ROOT_PASSWORD=minioadmin'
    command: server /data --console-address ":9001"
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - minio-data:/data

volumes:
  minio-data:
